################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CountingValeys/CountingValyes/bin/Debug/netcoreapp3.1
/CountingValeys/CountingValyes/obj
/SocksMerchant/ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.1
/SocksMerchant/ConsoleApp1/ConsoleApp1/obj
/SocksMerchant/ConsoleApp1/.vs/ConsoleApp1/v16/.suo
/SocksMerchant/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
