################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CountingValeys/CountingValyes/bin/Debug/netcoreapp3.1
/CountingValeys/CountingValyes/obj
